.about {
  padding-top: 120px;
  .general-title {
    margin-bottom: 20px;
    text-align: center;
  }
  .para {
    width: 946px;
    margin-inline: auto;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
  }
}

.about-items {
  width: 900px;
  margin-inline: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    .icon {
      font-size: 72px;
    }
    .item-title {
      font-size: 18px;
      line-height: 30px;
      color: #0a081c;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .item.color-blue .icon{
    color: #3d328d;
  }
  .item.color-green .icon{
    color: #18713a;
  }
  .item.color-grey .icon{
    color: #59585a;
  }
  .item.color-red .icon{
    color: #89221c;
  }
}

@include max-1200 {
  .about .para {
    width: 100%;
  }
}

@include max-992 {
  .about-items {
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
    row-gap: 45px;
    width: 100%;
     margin-inline: unset;
  }
}

@include max-768 {
  .about-items .item .icon {
    font-size: 50px;
  }
  .about {
    padding: 50px 0;
  }
  .about-items {
    column-gap: 30px;
    row-gap: 40px;
   
    // flex-wrap: wrap;
  }
  .about-items .item {
    row-gap: 25px;
  }
  .about .para {
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 50px;
  }
  .about-items .item .item-title {
    font-size: 16px;
  }
}
