.mySection {
  padding: 150px 0;
}

.mySection-parent {
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  column-gap: 30px;
}
.mySection {
  .myButton {
    &:hover {
      background-color: #18713a;
    }
  }
  .general-title {
    line-height: 44px;
  }
  .text-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
    margin-top: 100px;
  }
}
.mySection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  .img-holder {
    overflow: hidden;
    img {
      transition: all linear 0.2s;
      width: 100%;
      aspect-ratio: 409 / 350;
      object-fit: cover;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.mySection-item-title {
  transition: linear color 0.2s;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  &:hover {
    color: #18713a;
  }
}

.services,
.projects {
  .myButton {
    padding-inline: 30px;
  }
}

@include min-992 {
  .mob-myButton {
    display: none;
  }
}

@include max-1200 {
  .mySection-parent {
    grid-template-columns: 245px 1fr 1fr;
  }
  .mySection .text-cont {
    margin-top: 60px;
  }
}

@include max-992 {
  .services .myButton,
  .projects .myButton {
    display: none;
  }

  .services .mob-myButton,
  .projects .mob-myButton {
    display: flex;
    margin-top: 45px;
    margin-inline: auto;
    padding-inline: 40px;
  }

  .mySection .text-cont {
    margin-top: 0;
    grid-column: 1 / 3;
    align-items: center;
    margin-top: 0;
  }
  .mySection-parent {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .mySection .general-title {
    line-height: normal;
    text-align: center;
  }
}

@include max-768 {
  .mySection-parent {
    grid-template-columns: 1fr;
  }
  .text-cont + .mySection-item {
    margin-top: -10px;
  }
  .mySection-item-title {
    font-size: 16px;
  }
  .mySection .text-cont {
    grid-column: 1 / 2;
    row-gap: 25px;
  }
  .mySection {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .mySection-item {
    row-gap: 12px;
  }
  .projects {
    padding-top: 50px;
  }
}
