//  header
header {
  padding: 12px 0;
  background-color: #fff;
  transition: all linear 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.download-lang-holder {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.download-btn {
  height: 40px;
  padding-inline: 23px;
  border-radius: 20px;
  font-size: 14px;

  &:hover {
    background-color: #89221c;
  }
}

.navigation {
  transition: all linear 0.3s;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  img {
    width: 210px;
    transition: all linear 0.2s;
  }
}

.big-menu {
  column-gap: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  a:not(.sub-menu a) {
      font-size: 14px;
      color: #000000;
      text-align: center;
      text-transform: capitalize;
      transition: all linear 0.2s;
      position: relative;
      &:hover {
        text-decoration: none;
        color: #89221c;
      }
    }
  }


.language-anchor {
  font-size: 12px;
  color: #a09eb7;
  display: flex;
  align-items: center;
  column-gap: 6px;
  transition: all linear 0.2s;
  span {
    line-height: 13px;
  }
  &:hover {
    color: #89221c;
  }
}

.menu-item-has-children {
  position: relative;
  padding: 10px 0;
  > a {
    column-gap: 3px;
    &::after {
      content: "\f078";
      font-family: "Font Awesome 6 Pro";
      font-size: 10px;
      color: #000;
    }
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &:hover {
    > a {
      color: #89221c;
      &::after{
        color: #89221c;
      }
    }
    .sub-menu {
      transform: translateX(-50%) scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
  .sub-menu {
    width: 180px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 12;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: scale(0.95) translateX(-50%);
    padding: 12px;
    transition: all linear 0.2s;
    li {
      text-align: center;
      transition: all linear 0.3s;
      a:hover {
        color: #89221c;
        background-color: #f1f1f1;
      }
    }
    a {
      padding: 10px;
      font-size: 14px;
      line-height: 1.5;
      color: #000;
      text-align: center;
      justify-content: center;
      font-weight: 400;
      display: flex;
      width: 100%;
    }
  }
}

.open-nav {
  inset-inline-start: -100%;
}

@include min-768 {
  .navigation {
    .language-anchor {
      display: none;
    }
  }
  .close-lang-holder {
    display: none;
  }
}

@include min-992 {
  .mob-upper-nav {
    display: none;
  }
  .open-nav-btn {
    display: none;
  }
}

@include max-1200 {
  .logo img {
    width: 160px;
  }
}

@include max-992 {
  .menu-item-has-children > a::after {
    font-size: 14px;
    transition: linear transform 0.2s;
  }
  .menu-item-has-children > a.icon-rotate::after {
    transform: rotate(180deg);
  }
  .menu-item-has-children .sub-menu {
    position: static;
    // row-gap: 15px;
    background-color: unset;
   
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: unset;
    padding: 0;
    display: none;
    transition: none;
    width: 100%;
    padding-top: 12px;
     padding-inline-start: 8px;
    li {
      margin-bottom: 15px;
    }
    li:last-of-type {
      margin-bottom: 0;
    }
  }
  .menu-item-has-children .sub-menu li {
    text-align: start;
  }
  .menu-item-has-children:hover .sub-menu {
    transform: unset;
  }
  .menu-item-has-children .sub-menu a {
    display: inline-block;
    padding: 0;
    width: max-content;
  }

  .navigation .language-anchor {
    display: flex;
  }
  .open-nav-btn {
    display: flex;
    .bars-icon {
      font-size: 20px;
      color: #000;
    }
  }
  .logo img {
    width: 210px;
  }
  .mob-upper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .download-lang-holder {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .navigation {
    overflow-y: auto;
    position: fixed;
    top: 0;
    inset-inline-start: -100%;
    width: 100%;
    height: 100%;
    padding: 25px 20px 20px 20px;
    background-color: #fff;
    transition: 0.4s;
    z-index: 200;
  }

  .reset-left {
    inset-inline-start: 0;
  }
  .big-menu {
    flex-direction: column;
    margin: 65px 0 0 0;
    align-items: flex-start;
    row-gap: 20px;
  }
  .big-menu > li {
    width: 100%;
  }
  .big-menu a:not(.sub-menu a){
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
  }

  .close-lang-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .download-lang-holder {
    justify-content: flex-end;
    margin-inline-end: 30px;
  }
  .download-lang-holder .language-anchor {
    display: none;
  }
  .close-nav-btn {
    display: flex;
    .close-icon {
      font-size: 20px;
      color: #000;
    }
  }
}

@include max-768 {
  header {
    padding: 10px 0;
  }
  .logo img {
    width: 140px;
  }
  .download-lang-holder {
    margin-inline-end: 20px;
  }
  .download-btn {
    height: 35px;
    padding-inline: 13px;
    font-size: 12px;
  }
  .header-content {
    flex-wrap: nowrap;
  }
  .menu-item-has-children .sub-menu li a:hover {
    background-color: transparent;
  }

  .menu-item-has-children {
    flex-direction: column;
    align-items: flex-start;
    margin-inline-end: 0;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .logo img {
    width: 130px;
  }
}
